[submodule "src/main/python/pokeminers_pogoassets"]
	path = pokeminers_pogoassets
	url = https://github.com/PokeMiners/pogo_assets.git
[submodule "src/main/python/pokeminers_gamemaster"]
	path = pokeminers_gamemaster
	url = https://github.com/PokeMiners/game_masters.git
